/*
 * Swagger MyHome - OpenAPI 3.0
 * This is a OpenApi specification for MyHome backend service.
 *
 * The version of the OpenAPI document: 2.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;



import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class BookingsApi {
    private ApiClient localVarApiClient;

    public BookingsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public BookingsApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for deleteBooking
     * @param amenityId  (required)
     * @param bookingId  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> If booking deleted </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> If params are invalid </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call deleteBookingCall(String amenityId, String bookingId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/amenities/{amenityId}/bookings/{bookingId}"
            .replaceAll("\\{" + "amenityId" + "\\}", localVarApiClient.escapeString(amenityId.toString()))
            .replaceAll("\\{" + "bookingId" + "\\}", localVarApiClient.escapeString(bookingId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call deleteBookingValidateBeforeCall(String amenityId, String bookingId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'amenityId' is set
        if (amenityId == null) {
            throw new ApiException("Missing the required parameter 'amenityId' when calling deleteBooking(Async)");
        }
        
        // verify the required parameter 'bookingId' is set
        if (bookingId == null) {
            throw new ApiException("Missing the required parameter 'bookingId' when calling deleteBooking(Async)");
        }
        

        okhttp3.Call localVarCall = deleteBookingCall(amenityId, bookingId, _callback);
        return localVarCall;

    }

    /**
     * 
     * Remove booking
     * @param amenityId  (required)
     * @param bookingId  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> If booking deleted </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> If params are invalid </td><td>  -  </td></tr>
     </table>
     */
    public void deleteBooking(String amenityId, String bookingId) throws ApiException {
        deleteBookingWithHttpInfo(amenityId, bookingId);
    }

    /**
     * 
     * Remove booking
     * @param amenityId  (required)
     * @param bookingId  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> If booking deleted </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> If params are invalid </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> deleteBookingWithHttpInfo(String amenityId, String bookingId) throws ApiException {
        okhttp3.Call localVarCall = deleteBookingValidateBeforeCall(amenityId, bookingId, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     *  (asynchronously)
     * Remove booking
     * @param amenityId  (required)
     * @param bookingId  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> If booking deleted </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> If params are invalid </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call deleteBookingAsync(String amenityId, String bookingId, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = deleteBookingValidateBeforeCall(amenityId, bookingId, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
}
